@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 25, 25);
  display: flex;
  justify-content: center;
  text-align: center;
}
.heading {
  font-size: 2em;
  margin: 2em 0;
}
.stopwatch {
  background-color: #3b81a3;
  width: 610px;
  border-radius: 10px;
  padding: 20px 0;
}
.stopwatch span {
  font-size: 2.5em;
}
.buttons {
  margin-top: 2em;
}
.buttons button {
  color: rgb(255, 255, 255);
  /* border: 2px solid rgb(31, 26, 26); */
  padding: 10px 45px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}


.startBtn {
  width: 200px;
background-color: rgb(194, 50, 175);
}


.pausaBtn,
.lapBtn,
.stopBtn {
  display: none;
  width: 200px;
  
}


.lapBtn{
  background: #0ab959;
  
}
.pausaBtn{
background: #0099ff;
}
.laps {
  text-align: left;
  margin-top: 2em;
  /* background: rgb(99, 92, 92); */
  color: white;
}
.laps li {
  font-size: 1.3em;
  margin-bottom: 0.7em;
  padding: 10px;
  border:2px solid rebeccapurple;
  border-radius: 10px;
  color: red;
  background-color: white;
}

.lap_box{
  width: 200px;
  height: 200px;
  color: #fff;
  padding-left: 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lapItem{
  width: 120px;
  height: 30px;
}

